
.card-wrapper {
  margin-top: 15px;
  text-align: center;
  background-color: white;
  min-height: calc(100vh - 15px);
  overflow-x: scroll;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1300px) {
  .card-wrapper {
    justify-content: start;
  }
}

.preloader {
  min-height: 100vh;
}

.day-card {
  width: 200px;
  border: 1px solid rgba(148, 148, 148, 0.4);
}

.day-card-date {
  margin-top: 44px;
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #57ABFF;
  border-bottom: 1px solid rgba(148, 148, 148, 0.4);
}

.day-card-event {
  margin: 21px auto 21px auto;
  width: 190px;
  border: 1px solid rgba(148, 148, 148, 0.4);
  border-radius: 5px;
}

.event-name {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  margin-top: 26px;
  height: 35.2px;
  overflow: hidden;
  letter-spacing: -0.02em;

  color: #0080FF;
}

.event-time {
  margin-top: 10px;
  font-family: Rubik;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-align: center;
  color: black
}

.event-team {
  margin: 15px 19px 0 19px;
  font-family: Rubik;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: black;
  border-bottom: 1px solid rgba(148, 148, 148, 0.4);

}

.team-info {
  font-family: Rubik;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.02em;
}

.team-info div {
  max-width: 95px;
  height: 35.2px;
  overflow: hidden;
}
.team-info img {
  
  width: 40px;
  height: 40px;
  margin-bottom: 13px;
}

.rank {
  margin-top: 10px;
  font-family: Rubik;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-align: center;
  color: black
  
}

.event-team-rank {
  margin: 15px 19px 26px 19px;
  font-family: Rubik;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: black;
  border-bottom: 1px solid rgba(148, 148, 148, 0.4);
}

.event-team-rank div {
  margin: 0 11px;
}